<div class="row">
  <div class="col-12">
    <img src="images/TuSegundazo.png" alt="Logo de TuSegundazo.com" />
    <hr />
  </div>
</div>
<div class="row">
  <div class="col-12">
    <img
      src="images/Frame1.png"
      alt="Banner de la lista de vehiculos"
      style="width: 100%; height: auto"
    />
    <hr />
  </div>
</div>
<div class="row">
  <div class="col-8">
    <div class="row">
      <table class="table">
        <thead>
          <tr>
            <th>#</th>
            <th>Marca</th>
            <th>Linea</th>
            <th>Modelo</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let v of vehiculos">
            <td>
              <dd>
                <strong>{{ v.id }}</strong>
              </dd>
            </td>
            <td>
              <dd>{{ v.marca }}</dd>
            </td>
            <td>
              <dd>{{ v.linea }}</dd>
            </td>
            <td>
              <dd>{{ v.modelo }}</dd>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="row">
      <div *ngFor="let marca of getMarcas()">
        Total {{ marca }}: {{ getVehiculosPorMarca()[marca] }}
      </div>
    </div>
  </div>
  <div class="col-4"></div>
</div>
